{% extends 'recipes/base.html' %}

{% block content %}

<div class="grid-container">
  {% for recipe in recipes %}
  <a href="{% url 'recipe-detail' recipe.pk %}" class="card-link">
    <div class="recipes">
      <h5>{{ recipe.title }}</h5>
      <h6>{{ recipe.author }}</h6>
      <p>Ingredients: {{ recipe.ingredients }}</p>
      <p>Description: {{ recipe.description }}</p>
      {% if recipe.picture_link %}
        {% if view_mode == 'list' %}
          <img src="{{ recipe.picture_link }}" alt="Recipe Picture" class="small-image">
        {% else %}
          <img src="{{ recipe.picture_link }}" alt="Recipe Picture" class="big-image">
        {% endif %}
      {% endif %}
      <h6>{{ recipe.updated_at|date:"F d, Y" }}</h6>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock content %}


