{% extends 'recipes/base.html' %}

{% block content %}

<div class="grid-container">
  {% for recipe in recipes %}
  <a href="{% url 'recipe-detail' recipe.pk %}" class="card-link">
    <div class="recipes">
      <h2>{{ recipe.title }}</h2>
      <h3>Ingredients:</h3> 
      <p>{{ recipe.ingredients }}</p>
      {% if recipe.picture_link %}
        {% if view_mode == 'list' %}
          <img src="{{ recipe.picture_link }}" alt="Recipe Picture" class="small-image">
        {% else %}
          <img src="{{ recipe.picture_link }}" alt="Recipe Picture" class="big-image">
        {% endif %}
      {% endif %}
      <h5>{{ recipe.author }}</h5>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock content %}


