<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <div class="nav-container"> 
           <nav class="navbar">
              <a href="{% url 'cookin-home' %}" class="nav-branding">Cookin!</a>
              <ul class="nav-menu">
                 <li class="nav-item">
                    <a href="{% url 'cookin-home' %}" class="nav-link">Home</a>
                 </li>
                 <li class="nav-item">
                    <a href="{% url 'cookin-about' %}" class="nav-link">Recipes</a>
                 </li>
                 {% if user.is_authenticated %}
                  <li class="nav-item">
                     <a href="{% url 'recipe-create' %}" class="nav-link">Add Recipe</a>
                     </li>
                  <li class="nav-item">
                  <a href="{% url 'user-profile' %}" class="nav-link">Profile</a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'user-logout' %}" class="nav-link">Log Out</a>
                     </li>
                  {% else %}
                  <li class="nav-item">
                  <a href="{% url 'user-login' %}" class="nav-link">Log In</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'user-register' %}" class="nav-link">Register</a>
               {% endif %}
                 </li>
              </ul>
              <div class="hamburger">
                 <span class="bar"></span>
                 <span class="bar"></span>
                 <span class="bar"></span>
              </div>
           </nav>
        </div>
     </header>

{% if messages %}
     {% for message in messages %}
         {{ message }}
     {% endfor %}
{% endif %}     

{% block content %}
{% endblock content %}




<script src="{% static 'js/script.js' %}"></script>
</body>
</html>