{% extends 'recipes/base.html' %}

{% block content %}

<section class="carousel">
  <div class="carousel-wrapper">
    <button class="slider-button previous" onclick="prevSlide()">&#8249;</button>
    <div class="slider">
      {% for recipe in recipes %}
      <div class="slide">
        <img id="slide-{{ forloop.counter }}" src="{{ recipe.picture_link }}" alt="">
        <div class="slide-caption">
          <div class="caption-text">
            <h3>{{ recipe.title }}</h3>
            <a href="{% url 'recipe-detail' recipe.pk %}" class="caption-button">See Recipe</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="slider-button next" onclick="nextSlide()">&#8250;</button>
  </div>
</section>

{% endblock content %}