{% extends 'recipes/base.html' %}

{% block content %}

<h3>Recipe # {{ object.id }}</h3>

<div class="container">
  <div class="recipes">
    <h5>{{ object.title }}</h5>
    <h6>{{ object.author }}</h6>
    <p>{{ object.ingrediens }}</p>
    <h6>{{ object.updated_at|date:"F d, Y" }}</h6>
  </div>
</div>

{% if object.author == user or user.is_staff %}
<a href="{% url 'recipe-update' object.id %}">Update</a>
<a href="{% url 'recipe-delete' object.id %}">Delete</a>
{% endif %}





{% endblock content %}   


