{% extends 'recipes/base.html' %}

{% block content %}

<div class="register-form">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form">
            <legend>Are you sure you want to delete {{ object }}</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form">
            <input type="submit" value="Delete">
        </div>
    </form>
    <div>
        <a href="{% url 'cookin-home' %}">Cancel</a>
    </div>
</div>



{% endblock content %}   
