{% extends 'recipes/base.html' %}

{% block content %}

    
<div class="container">
  {% for recipe in recipes %}
  <div class="recipes">
    <h3>{{ recipe.title }}</h3>
    <p>Ingredients: {{ recipe.ingredients }}</p>
    <p>Description: {{ recipe.description }}</p>
    {% if recipe.picture_link %}
      <img src="{{ recipe.picture_link }}" alt="Recipe Picture">
    {% endif %}
    <h6>{{ recipe.updated_at|date:"F d, Y" }}</h6>
    <a href="{% url 'recipe-detail' recipe.pk %}" class="card-link">View Recipe</a>
  </div>
{% endfor %}
</div>
  


{% endblock content %}   
