{% extends 'recipes/base.html' %}
{% block content %}


<div class="register-form">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form">
            <legend>Sign Up</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-div">
            <input type="submit" value="Sign Up">
            <div>
                <a href="{% url 'user-login' %}">Already a member? Log in here</a>
            </div>
        </div>
    </form>
</div>



{% endblock content %}   
